.advantages__slogan {
  margin: 0;
  margin-top: 46px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $dark;
  text-align: center;
}

.advantages__slogan:last-of-type {
  margin-top: 40px;
  padding-bottom: 70px;
}

.advantages__list {
  margin: 0;
  padding: 70px 20px 325px 20px;
  text-align: center;
  list-style: none;
  background: url("../../img/mobile-smile.png") no-repeat;
  background-position: bottom;
  background-color: $light;
}

.advantages-item {
  margin-bottom: 42px;
}

.advantages-item__title {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.advantages-item__description {
  font-size: 14px;
  line-height: 24px;
}
