.advantages {
  padding-top: 46px;
}

.advantages__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $basic-color-darkblue;
  text-align: center;
}

.advantages__slogan:last-of-type {
  margin-top: 40px;
  padding-bottom: 70px;
}

.advantages__list {
  background: url("../../img/mobile-smile.png") no-repeat;
  background-position: bottom;
  list-style: none;
  background-color: $basic-color-light;
  padding-top: 70px;
  padding-bottom: 325px;
  text-align: center;
}

.advantages-item {
  margin-bottom: 42px;
}

.advantages-item__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}

.advantages-item__description {
  font-size: 14px;
  line-height: 24px;
}
