.button {
  display: block;
  margin: 0 auto;
  min-width: 280px;
  padding: 20px 30px;
  border: 0;
  border-radius: 1px;
  font: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s;

  &--regular {
    background-color: $sub;

    &:hover {
      background-color: $sub-hover;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  &--disabled {
    border-color: $disabled;
    background-color: $disabled;
    pointer-events: none;
  }

  &--round {
    min-width: 280px;
    padding: 15px 30px;
    border: 3px solid;
    border-radius: 30px;
    background-color: transparent;
    text-align: center;
    text-transform: none;
  }

  &--main {
    margin-bottom: 12px;
    border-color: $main;
    color: $main;

    &:hover {
      background-color: $main;
      color: $white;
    }

    &:active {
      color: rgba($white, 0.3);
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
    }
  }

  &--reset {
    color: rgba($dark, 0.1);
    border-color: rgba($dark, 0.1);

    &:hover {
      border-color: rgba($dark, 0.3);
      color: rgba($dark, 0.3);
    }

    &:active {
      background-color: rgba($dark, 0.3);
      color: rgba($white, 0.3);
    }
  }

  @media (min-width: $desktop-width) {
    &--main,
    &--reset {
      min-width: 183px;
      margin: 0;
    }
  }
}
