.checkbox {
  position: relative;
  display: block;
  cursor: pointer;
}

.checkbox__input {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  appearance: none;
}

.checkbox__label {
  position: absolute;
  font-size: 18px;
  line-height: 30px;
  color: $dark;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -55px;
    width: 35px;
    height: 35px;
    background: $white;
    border: 2px solid $disabled;
    border-radius: 1px;
  }
}

.checkbox__input:checked ~ .checkbox__label {
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -47px;
    width: 22px;
    height: 16px;
    background-image: url("../../img/check-mark.svg");
    background-repeat: no-repeat;
  }

  &:focus + &::before,
  &:checked:focus + &::before {
    border: 2px solid $main;
  }

  &:hover + &::before {
    border: 2px solid $dark;
  }

  &:disabled + &::before,
  &:checked:disabled + &::before {
    border: 2px solid $disabled;
    color: $disabled;
  }
}
