.container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    max-width: 980px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding-left: 130px;
    padding-right: 130px;
  }
}
