.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: $desktop-width;

  // @media (min-width: $tablet-width) {

  //   margin: 0 auto;
  // }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
