.contacts {
  padding-top: 47px;

  @media  (min-width: $tablet-width) {
    padding-top: 55px;
  }

  @media  (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.contacts__container {
  padding: 0;
}

.contacts__slogan {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: $sub-dark;

  @media (min-width: $tablet-width) {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 150px;
    padding-right: 150px;
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  margin: 0;
  margin-bottom: 41px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__item {
  @media (min-width: $tablet-width) {
    &:nth-child(2) {
      order: 2;
    }

    &:last-child {
      order: 3;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:last-child {
      order: 2;
    }
  }
}

.contacts__description {
  margin: 0;
  padding-top: 4px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 15px;

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contacts__info {
  display: block;
  width: 226px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $main;
  text-decoration: none;
}

.contacts__map {
  height: 200px;
  overflow: hidden;
}

.contacts__map-image {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 200px;
}
