.copyright__text {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $dark;

  &:first-child {
    margin-right: 15px;
  }
}

.copyright__link {
  display: inline-block;
  color: $dark;
  text-decoration: none;
}

.copyright__logo-academy {
  width: 27px;
  height: 34px;
  fill: $main;

  &:hover {
    fill: $dark;
  }

  &:active {
    fill: $dark;
    opacity: 0.3;
  }
}
