.copyright__text {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $dark;

  &:first-child {
    margin-right: 15px;
  }
}

.copyright__link {
  display: inline-block;
  color: $dark;
  text-decoration: none;
}

.copyright__logo {
  width: 27px;
  height: 34px;
  fill: $main;

  &:hover {
    fill: $dark;
  }

  &:focus {
    fill: $dark;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__text {
    &:first-child {
      margin-right: 13px;
    }
  }

  .copyright__link {
    padding-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
  }
}
