.download {
  padding-top: 28px;
  padding-bottom: 38px;
  background-color: $color-darkerblue;
}

.download__button {
  padding: 17px 30px;
  text-align: center;
  border-radius: 29px;
  border: 3px solid $basic-color-white;
}

.download__availability {
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  color: $basic-color-white;
}
