.download {
  padding: 28px 20px 30px;
  background-color: $dark;
}

.download__button {
  border: 3px solid $white;
  background: inherit;

  &:hover {
    color: $main;
    background-color: $white;
  }

  &:focus {
    color: rgba($main, 0.3);
    background-color: $white;
  }
}

.download__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 11px;
  padding: 0;
  list-style: none;
}

.download__link {
  display: block;
  text-decoration: none;
  color: $white;
}

.download__availability {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: $white;
}

@media (min-width: $tablet-width) {
  .download {
    padding: 0;
    width: 300px;
    background-color: inherit;
  }

  .download__list {
    margin-top: 38px;
    margin-bottom: 36px;
  }

  .download__availability {
    font-size: 18px;
  }
}
