.field {
  display: block;
  &--textarea {
    margin-left: 21px;
    margin-right: 23px;
    .field__input {
      height: 197px;
    }
  }
}

.field__label {
  display: block;
  margin-bottom: 8px;
  padding-left: 23px;
  font-size: 14px;
  line-height: 30px;
  color: $main;
  text-transform: uppercase;
}

.field__input {
  display: block;
  width: 100%;
  padding: 13px 17px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $disabled;
  border-radius: 1px;
}

.field__textarea {
  font-size: 18px;
  line-height: 30px;
  color: $dark;
  border: 2px solid $light;
  border-radius: 1px;
  resize: none;
}
