.field {
  display: block;

  &--textarea {
    .field__input {
      min-height: 197px;
      border: 2px solid $light;
      color: $dark;
      resize: none;

      &::placeholder {
        color: $dark;
      }
    }
  }
}

.field__label {
  display: block;
  margin-bottom: 8px;
  padding-left: 23px;
  font-size: 14px;
  line-height: 30px;
  color: $main;
  text-transform: uppercase;
}

.field__input {
  display: flex;
  width: 100%;
  padding: 13px 17px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $disabled;
  border-radius: 1px;

  &:hover {
    border: 2px solid $dark;
  }

  &:active {
    border: 2px solid $main;
  }
}

.field__textarea {
  color: $dark;
  border: 2px solid $light;
  resize: none;
}

@media (min-width: $tablet-width) {
  .field {
    &--user {
      display: flex;
    }

    &--contacts {
      display: flex;
      flex-direction: column;

      .field__input {
        order: 1;
        margin-bottom: 10px;
      }

      .field__label {
        order: 2;
      }
    }
  }

  .field__label {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .field {
    &--textarea {
      .field__input {
        min-height: 124px;
      }
    }
  }
}
