.gallery__container {
  padding-top: 50px;
  padding-bottom: 55px;
  padding-left: 37px;
  padding-right: 37px;
}

.gallery__text {
  margin: 0;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
