.intro {
  min-height: 235px;
  padding-top: 95px;
  padding-bottom: 40px;
  background-image: url(../../img/back-mobile.png);
  background-size: cover;
}

.intro__container {
  padding: 0;
  padding-left: 34px;
  padding-right: 34px;
}

.intro__title {
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  color: $white;
}

