.logo-image {
  width: 74px;
  height: 23px;

  &--footer {
    width: 147px;
    height: 40px;

    .logo-image__letters,
    .logo-image__glass {
      display: block;
    }

    .logo-image__letters {
      fill: $dark;
    }

    .logo-image__glass {
      fill: $main;
    }
  }
}

.logo-image__letters-mobile {
  fill: $white;
}

.logo-image__glass,
.logo-image__glass-desktop,
.logo-image__stars,
.logo-image__letters {
  display: none;
}

.page-footer__logo-image {
  .logo-image__letters {
    fill: $dark;
  }

  .logo-image__glass {
    fill: $main;
  }
}

@media (min-width: $tablet-width) {
  .logo-image {
    width: 147px;
    height: 40px;
  }

  .logo-image__letters-mobile {
    display: none;
  }

  .logo-image__glass,
  .logo-image__letters {
    display: block;
    fill: $white;
  }
}

@media (min-width: $desktop-width) {
  .logo-image__glass {
    display: none;
  }

  .logo-image__glass-desktop,
  .logo-image__stars {
    display: block;
  }

  .logo-image__glass-desktop {
    fill: $white;
  }

  .logo-image__stars {
    fill: $main;
  }

  .logo-image {
    &--footer {
      .logo-image__glass {
        display: none;
      }

      .logo-image__star {
        fill: $dark;
      }

      .logo-image__glass-desktop {
        fill: $main;
      }
    }
  }
}
