.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 660px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 0 $black;

  @media (min-width: $desktop-width) {
    box-shadow: none;
  }
}

.main-nav__link {
  padding: 15px 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    padding: 5px 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    
    &:hover:not([href="#"]),
    &:focus:not([href="#"]) {
      color: $main;
    }
  
    &:active:not([href="#"]) {
      color: rgba($white, 0.3);
    }
  
    &--active {
      position: relative;
  
      &::after{
        position: absolute;
        content: "";
        bottom: -12px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $white;
      }
    }
  }
}
