body {
  font-family: $main-font;
  font-size: 14px;
  line-height: 30px;
  color: $font-color;
}

.page {
  height: 100%;
}

.page__body {
  min-width: 320px;;
  min-height: 100%;
  font-family: $main-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $font-color;
  overflow-x: hidden;
}
