.page-header {
  background-color: $sub-dark;
}

.page-header__container {
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 666;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 1px 0px $black;

  @media (min-width: $mobile-width-only) {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  @media  (min-width: $desktop-width)  {
    box-shadow: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 42px;
  }
}

.page-header__logo {
  display: block;
  width: 74px;
  height: 23px;
}

.page-header__burger {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
