.page {
  height: 100%;
  font-size: 18px;
  font-family: $basic-font-color;
  line-height: 27px;
}

.page__body {
  min-width: 320px;;
  min-height: 100%;
  margin: 0;
  font-family: $basic-font-color;
  color: $basic-color-black;
}
