.page-header {
  background-color: $basic-color-darkblue;
}

.page-header__logo {
  display: block;
  padding: 23px 0 23px 20px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  line-height: 32px;
  color: $basic-color-white;
  text-transform: uppercase;
  text-decoration: none;
}
