body {
  font-family: $dark;
  font-size: 14px;
  line-height: 30px;
  color: $dark;
}

.page {
  height: 100%;
}

.page__body {
  position: relative;
  min-width: 320px;;
  min-height: 100%;
  font-weight: 400;
  color: $dark;
  overflow-x: hidden;
}
