.page-footer {
  padding-top: 40px;
  padding-bottom: 51px;
}

.page-footer__logo {
  display: block;
  text-align: center;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 41px;
}

.social__link  {
  display: block;
  text-align: center;
}

.page-footer__copyright {
  margin-top: 53px;
  text-align: center;
}

.copyright__text {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: $basic-color-darkblue;
}

.copyright__link {
  display: inline-block;
}
