.page-header {
  background-color: $sub-dark;

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 5;
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px;
    background-color: rgba($black, 0.3);
  }
}

.page-header__container {
  padding: 0;
}

.page-header__inner-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 940px;
    justify-content: space-between;
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
  box-shadow: 0 1px 0 $black;

  @media (min-width: $tablet-width) {
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    box-shadow: none;
  }
}

.page-header__logo {
  display: block;
  width: 74px;
  height: 23px;
}

.page-header__burger {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
