.post {
  position: relative;

  &--day {
    &::before {
      position: absolute;
      right: 20px;
      content: "";
      width: 140px;
      height: 36px;
      background-image: url("../../img/panorama-day.svg");
      background-repeat: no-repeat;
      background-position: 0 0;

      @media (min-width: $tablet-width) {
        top: 57px;
      }

      @media (min-width: $desktop-width) {
        right: 130px;
        top: 53px;
      }
    }
  }
}

.post__link-photo {
  display: block;
}

.post__content {
  display: flex;
  flex-direction: column;
  min-height: 155px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 17px;
  padding-right: 17px;
  margin-bottom: 20px;
  background-color: $light;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 22px;

    &--panorama {
      display: grid;
      grid-template-columns: 3fr 1fr;
      min-height: 121px;
      margin-bottom: 50px;

      .post__item {
        grid-column-start: 1;
        grid-column-end: 2;
      }

      .post__text-wrapper {
        grid-column-start: 1;
        grid-column-end: -1;
      }

      .post__social-like {
        grid-column-start: 2;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    }
  }
}

.post__social-like {
  margin-top: auto;
}

.post__name {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: $dark;
}

.post__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $dark;
}

.post__text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.post__picture {
  display: block;

  &--panorama {
    .post__picture-image {
      margin: 0;
    }
  }
}

.post__picture-image {
  display: block;
  margin: 0 auto;
}
