.price {
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: $disabled;
}

.price-table {
  margin: 0 20px;
}

.price-table__column:not(:first-child) {
  width: 276px;
  padding-top: 19px;
  padding-bottom: 35px;
  color: $white;
  background-color: $dark;
}

.price-table__tarif {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.price-table__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.price-table__title,
.price-table__cell {
  width: 276px;
  background-color: $white;
}

.price-table__title {
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $dark;
}

.price-table__headline {
  padding-left: 20px;
  text-transform: uppercase;
}

.price__toggles {
  padding-top: 40px;
  text-align: center;
}


