.price {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: $disabled;
  background-image: linear-gradient(176deg, $white 42px, $light 42px);
  overflow: hidden;
}

.price__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-table {
  width: 280px;
  table-layout: fixed;
}

.price-table__column {
  padding-top: 11px;
  padding-bottom: 22px;
  padding-right: 95px;
  padding-left: 95px;
  width: 276px;
  color: $white;
  background-color: $dark;
  overflow: hidden;

  &--hit {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -5px;
      left: -5px;
      width: 74px;
      height: 74px;
      background-image: url("../img/hit.svg");
    }
  }
}

.price-table__tarif {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.price-table__price {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.price-table__thead {
  .price-table__title:first-child {
    opacity: 0;
  }
}

.price-table__title {
  display: none;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark;
  text-align: left;
}

.price-table__cell {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.price-table__title,
.price-table__cell {
  width: 276px;
  background-color: $white;
}

.price-table__value {
  &--check::before {
    position: absolute;
    content: "";
    right: 17px;
    bottom: 30px;
    width: 31px;
    height: 21px;
    border-bottom: 4px solid $success;
    border-right: 4px solid $success;
    transform: scale(-1, 1) rotate(45deg);
  }

  &--cross::before {
    position: absolute;
    content: "";
    right: 14px;
    bottom: 30px;
    width: 35px;
    height: 3px;
    background-color: $error;
    transform: rotate(45deg);
  }

  &--cross::after {
    position: absolute;
    content: "";
    right: 14px;
    bottom: 30px;
    width: 35px;
    height: 3px;
    background-color: $error;
    transform: rotate(135deg);
  }
}

.price-table__headline {
  padding-left: 20px;
  text-transform: uppercase;
}

.price__toggles {
  padding-top: 40px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .price {
    background-image: linear-gradient(176deg, $white 60px, $light 60px);
  }

  .price-table {
    width: 620px;
  }

  .price-table__column {
    width: 25%;
    padding: 7px 0 9px;

    &--hit {
      &::before {
        width: 61px;
        height: 61px;
        background-image: url("../img/tablet-hit.svg");
      }
    }
  }

  .price-table__title {
    display: table-cell;
  }

  .price-table__title,
  .price-table__cell {
    width: 25%;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .price-table__value {
    &--check::before {
      bottom: 40%;
      right: 40%;
    }

    &--cross::before {
      bottom: 45%;
      right: 40%;
    }

    &--cross::after {
      bottom: 45%;
      right: 40%;
    }
  }

  .price-table__headline {
    display: none;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 150px;
    background-image: linear-gradient(175deg, #ffffff 125px, #f2f2f2 125px);
  }

  .price__container {
    padding: 0;
  }

  .price-table {
    width: 944px;
  }

  .price-table__column {
    width: 233px;
    padding: 15px 0 19px;

    &--hit {
      &::before {
        width: 74px;
        height: 74px;
        background-image: url("../img/hit.svg");
      }
    }
  }

  .price-table__tarif {
    font-size: 18px;
  }

  .price-table__price {
    font-size: 18px;
  }

  .price-table__title,
  .price-table__cell {
    width: 234px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
