.promo__application {
  width: 320px;
  height: 462px;
  background: url("../../img/back-mobile.png") no-repeat;
}

.promo__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: $basic-color-white;
}

