.promo {
  background-image: url("../img/back-mobile.jpg");
  background-color: $dark;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }
}

.promo__container {
  padding: 0;
  position: relative;
}

.promo__application {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 88px;
  padding-bottom: 313px;
}

.promo__slogan {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: $white;
}

.promo__image-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 320px;
  height: 286px;
  transform: translateX(-50%);
}

.promo__image {
  width: 320px;
  height: 286px;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: url("../img/back-tablet.jpg");
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }

    .promo__container {
      padding-top: 204px;
      padding-bottom: 71px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .promo__application {
    position: static;
    width: 245px;
    padding: 0;
    margin-left: 28px;
    margin-bottom: 30px;
    text-align: center;
  }

  .promo__slogan {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
  }

  .promo__image-wrapper {
    width: 660px;
    height: 545px;
    bottom: 0;
  }

  .promo__image {
    width: 660px;
    height: 545px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }

    .promo__container {
      padding-top: 219px;
      padding-bottom: 123px;
      padding-left: 40px;
    }
  }

  .promo__application {
    margin-bottom: 41px;
  }

  .promo__slogan {
    line-height: 65px;
    font-size: 51px;
  }

  .promo__image-wrapper,
  .promo__image {
    width: 1020px;
    height: 645px;
  }
}
