.quote {
  margin: 0;
  text-align: center;
  margin-bottom: 11px;
}

.quote__about-author {
  display: none;
  margin: 0;
}

.quote__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

.quote__review {
  margin: 0;
  padding-top: 11px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark;
}

.quote__text {
  font-size: 14px;
  line-height: 30px;
  color: $dark;
}

@media (min-width: $tablet-width) {
  .quote {
    display: flex;
    flex-direction: column;
  }

  .quote__about-author {
    display: block;
    order: 3;
    font-size: 14px;
    line-height: 30px;
    color: $dark;
  }

  .quote__author-name {
    order: 2;
    font-size: 20px;
  }

  .quote__review {
    font-size: 18px;
  }


  .quote__text {
    order: 1;
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .quote__text {
    padding-left: 130px;
    padding-right: 130px;
  }

  .quote__about-author {
    font-size: 18px;
  }

  .quote__author-name {
    font-size: 24px;
  }
}
