.radio-button {
  position: relative;
  display: block;
  padding-left: 62px;
  cursor: pointer;
}

.radio-button__input {
  appearance: none;
}

.radio-button__label {
  position: absolute;
  font-size: 18px;
  line-height: 30px;
  color: $dark;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -70px;
    width: 41px;
    height: 41px;
    background-color: $white;
    border-radius: 50%;
    border: 2px solid $disabled;
  }

  &:hover {
    &::before {
      border: 2px solid $dark;
    }
  }

  &:focus {
    &::before {
      border: 2px solid $main;
    }
  }
}

.radio-button__input:checked ~ .radio-button__label {
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -57px;
    width: 15px;
    height: 15px;
    background-color: $main;
    border-radius: 50%;
    background-repeat: no-repeat;
  }

  &:hover + &::before {
    border: 2px solid $dark;
  }

  &:focus + &::before,
  &:checked:focus + &::before {
    border: 2px solid $main;
  }

  &:disabled + &::before,
  &:checked:disabled + &::before {
    border: 2px solid $disabled;
    color: $disabled;
  }
}

@media (min-width: $tablet-width) {
  .radio-button {
    padding-left: 51px;
  }

  .radio-button__label {
    &:before {
      top: -5px;
      left: -61px;
    }
  }

  .radio-button__input:checked ~ .radio-button__label {
    &:after {
      top: 8px;
      left: -48px;
    }
  }
}

@media (min-width: $desktop-width) {
  .radio-button {
    padding-left: 65px;
  }
}
