.range-controls {
  position: relative;
  display: none;
  width: 240px;
  height: 2px;
  margin: 0 auto;
  background: $dark;

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: -5px;
    right: 50px;
    border-radius: 50%;
    border: 2px solid $main;
    background: $light;
    z-index: 10;
    cursor: pointer;
  }

  &--active {
    display: block;
    position: absolute;
    bottom: -38px;
    left: -5px;
  }
}

.range-controls__input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@media (min-width: $tablet-width) {
  .range-controls {
    bottom: 10px;
    left: 15px;
    display: block;
    width: 202px;

    &--active {
      position: relative;
    }
  }
}

@media (min-width: $desktop-width) {
  .range-controls {
    width: 288px;
  }
}
