.range-controls {
  position: relative;
  display: none;
  width: 240px;
  height: 2px;
  margin: 0 auto;
  background: $dark;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.range-controls__input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
