.research {
  display: none;
}

.research__wrapper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 239px;
    height: 280px;
    background-image: url("../img/tablet-timer.png");
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet-timer@2x.png");
      background-size: 239px auto;
    }
  }
}

.research__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.research__description {
  margin: 0;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark;
}

.research__link {
  text-decoration: underline;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $main;
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
    min-height: 315px;
  }

  .research__wrapper {
    padding: 0;
    min-height: 315px;
    padding-left: 322px;
    padding-top: 100px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .research {
    background-color: $light;
  }

  .research__container {
    padding-bottom: 67px;
    padding-left: 0;
    padding-right: 0;
  }

  .research__wrapper {
    padding: 0;
    padding-top: 125px;
    padding-left: 365px;
    padding-bottom: 50px
  }

  .research__wrapper::before {
    bottom: 0;
    left: 0;
    width: 298px;
    height: 345px;
    background-image: url("../img/desktop-timer.png");
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/desktop-timer@2x.png");
      background-size: 298px auto;
    }
  }

  .research__title {
    margin-bottom: 25px;
    line-height: 30px;
  }

  .research__description {
    font-size: 18px;
    line-height: 30px;
  }
}
