.research {
  display: none;

  @media (min-width: $tablet-width)  {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.research__container {
  padding: 0;
  padding-left: 339px;

  @media (min-width: $desktop-width) {
    padding-left: 365px;
  }
}

.research__wrapper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 110px;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -300px;
    width: 239px;
    height: 280px;
    background-image: url(../../img/tablet-timer.png);
    background-repeat: no-repeat;

    @media (min-width: $desktop-width) {
      bottom: 29px;
      left: -360px;
      width: 298px;
      height: 345px;
      background-image: url(../../img/desktop-timer.png);
      background-repeat: no-repeat;
    }
  }
}

.research__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
    line-height: 30px;
  }
}

.research__description {
  margin: 0;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.research__link {
  text-decoration: underline;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $main;
}
