.reviews__list {
  position: relative;
  margin: 0;
  padding: 50px 20px 0 20px;
  list-style: none;
}

.reviews__item {
  display: none;
}

.reviews__item:first-child {
  display: block;
}

.reviews__prev,
.reviews__next {
  display: none;
  border: none;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .reviews__list {
    padding-top: 90px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews__container {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  .reviews__list {
    padding-top: 180px;

    &::before {
      content: "";
      position: absolute;
      top: 72px;
      left: 50%;
      transform: translateX(-50%);
      width: 79px;
      height: 63px;
      background-image: url("../img/quotes.svg");
      background-repeat: no-repeat;
    }
  }

  .reviews__prev,
  .reviews__next {
    position: absolute;
    top: 50%;
    display: block;
    width: 22px;
    height: 41px;
    background-color: inherit;
    background-position: 0 0;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      width: 28px;
      height: 28px;
      border-top: 3px solid #283645;
      border-right: 3px solid #283645;
      opacity: 0.3;
    }

    &:hover::before {
      opacity: 0.6;
    }

    &:active::before {
      opacity: 0.1;
    }
  }

  .reviews__prev {
    left: 0;

    &::before {
      transform: rotate(-135deg);
      left: 0;
    }

  }
  .reviews__next {
    right: 0;

    &::before {
      transform: rotate(45deg);
      right: 0;
    }
  }
}
