.reviews__container {
  @media (min-width: $desktop-width)  {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.reviews__list {
  position: relative;
  margin: 0;
  padding: 50px 20px 0 20px;
  list-style: none;

  @media (min-width: $tablet-width)  {
    padding-top: 100px;
  }

  @media (min-width: $desktop-width)  {
    padding-top: 150px;

    &:before {
      content: "";
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      width: 79px;
      height: 63px;
      background-image: url(../../img/quotes.svg);
      background-repeat: no-repeat;
    }
  }
}

.reviews__item {
  display: none;
}

.reviews__item:first-child {
  display: block;
}

.reviews__toggles {
  display: flex;
  justify-content: center;
}
