.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 37px;
  padding: 0;
  list-style: none;
}

.social__item {
  justify-content: center;
  align-items: center;
  margin: auto 4px;
}

.social__link {
  display: inline-block;
  width: 54px;
  height: 54px;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  color: $dark;
  border: 3px solid rgba($dark, 0.1);
  border-radius: 50%;

  &:hover {
    border: 3px solid $dark;
  }

  &:focus {
    opacity: 0.1;
  }

  &--twitter {
    background-image: url("../img/icons/twitter-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--facebook {
    background-image: url("../img/icons/facebook-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--youtube {
    background-image: url("../img/icons/youtube-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-top: 0;
  }
}
