.social-like {
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 13px;
    align-items: center;

    .social-like__icon {
      order: 2;
    }
    &--gallery {
      .social-like__text {
        padding: 0;
      }
    }
  }
}

.social-like__text {
  padding-left: 18px;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main;
}

.social-like__icon {
  display: inline-block;
  width: 13px;
  height: 12px;

  &::before {
    position: absolute;
    bottom: 9px;
    content: "";
    width: 13px;
    height: 12px;
    background-image: url("../../img/like.svg");
    background-repeat: no-repeat;
  }
}
