.social-like {
  position: relative;
}

.social-like__text {
  padding-left: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main;
}

.social-like__icon {
  display: inline-block;
  width: 13px;
  height: 12px;

  &::before {
    position: absolute;
    bottom: 9px;
    content: "";
    width: 13px;
    height: 12px;
    background-image: url("../img/like.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .social-like {
    display: grid;
    grid-template-columns: 1fr 13px;
    align-items: center;

    .social-like__icon {
      order: 2;
    }

    .social-like__text {
      text-align: center;
      padding: 0;
    }

    &--gallery {
      .social-like__text {
        text-align: start;
      }
    }
  }
}
