.tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tools__toggle {
  border-style: none;
}

.tools__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tools__item {
  margin-bottom: 10px;
  display: none;

  &--active {
    display: block;
    margin: 20px -20px 43px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba($dark, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .tools__item {
    display: block;
    margin: 0;
    padding-bottom: 34px;
    border-bottom: 1px solid rgba($dark, 0.1);

    &--active {
      margin: 0;
      padding: 0;
      border: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .tools {
    width: 410px;
  }
}
