.tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tools__toggle {
  border-style: none;
}

.tools__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tools__item {
  margin-bottom: 10px;
}

.tools__item-label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: -3px;
    right: 50px;
    border-radius: 50%;
    border: 2px solid #d22856;
    background: #f2f2f2;
    z-index: 10;
    cursor: pointer;
  }
}

