.upload {
  padding-top: 40px;
}

.upload__slogan {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  &:last-of-type {
    margin-bottom: 40px;
  }
}

.upload__container {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: $light;
}

.upload__picture,
.upload__picture-link {
  display: block;
}

.upload__picture-image {
  display: block;
  width: 280px;
  height: 374px;
}

.upload__tools {
  margin-top: 42px;
}

@media (min-width: $tablet-width) {
  .upload {
    padding-top: 63px;
  }

  .upload__slogan {
    font-size: 18px;

    &:last-of-type {
      margin-bottom: 70px;
    }
  }

  .upload__container {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .upload__form {
    display: flex;
    justify-content: space-between;
  }

  .upload__picture-image {
    width: 300px;
    height: 400px;
  }

  .upload__tools {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .upload__container {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 57px;
  }

  .upload__buttons {
    display: flex;
    justify-content: space-between;
  }
}
