.upload {
  @media (min-width: $tablet-width) {
    padding-top: 63px;
  }
}

.upload__slogan {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.upload__slogan:last-of-type {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.upload__container {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: $light;
}

.upload__picture,
.upload__picture-link {
  display: block;
}
