.user-data {
  padding-top: 50px;
  padding-bottom: 40px;
}

.user-data__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: $dark;
  text-align: center;
}

.user-data__section {
  padding-top: 42px;
  padding-bottom: 44px;

  &--checkbox {
    background-color: $light;
  }

  &--radio {
    background-color: $light;
  }
}

.user-data__container {
  padding: 0;
 }

.user-data__fieldset-name{
  margin: 0;
  padding: 0;
  padding-left: 21px;
  padding-right: 23px;
  border: 0;
}

.user-data__checkbox-fieldset {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  padding-left: 35px;
  border: 0;
}

.user-data__fieldset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-data__fieldset-item:not(:last-child) {
  padding-bottom: 15px;
}

.user-data__legend {
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: $main;
  text-align: center;
  text-transform: uppercase;
}

.user-data__checkbox-wrapper {
  padding-top: 55px;
  padding-left: 45px;
}

.user-data__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-data__item:not(:last-child) {
  margin-bottom: 47px;
}

.user-data__contacts-fieldset {
  margin: 0;
  padding: 0;
  padding-left: 21px;
  padding-right: 23px;
  border: 0;
}

.user-data__radio-wrapper {
  padding-top: 40px;
  padding-left: 60px;
}

.user-data__fieldset-textarea {
  padding: 0;
  border: 0;
  margin: 0;
  padding-left: 21px;
  padding-right: 23px;
}

.user-data__footer {
  text-align: center;
}

.user-data__footer .user-data__text {
  padding-top: 46px;
  text-transform: uppercase;
}

.user-data__text-star {
  color: $main;
}

