.advantages {
  padding-top: 41px;
}

.advantages__slogan {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $dark;
  text-align: center;

  &:last-of-type {
    margin-top: 31px;

    .advantages__item-title {
      margin-bottom: 25px;
      font-weight: bold;
      font-size: 30px;
      line-height: 30px;
      text-align: center;
    }

    .advantages__item-description {
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }
  }
}

.advantages__inner-wrapper {
  padding-top: 113px;
  background-color: $light;
  background-image: linear-gradient(175deg, $white 60px, $light 60px);
}

.advantages__list {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 316px;
  text-align: center;
  list-style: none;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    width: 157px;
    height: 320px;
    background-image: url("../img/mobile-smile.png");
    background-repeat: no-repeat;
    border-radius: 28px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile-smile@2x.png");
      background-size: 157px auto;
    }
  }
}

.advantages__item {
  &:not(:last-child) {
    margin-bottom: 31px;
  }
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.advantages__item-description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 47px;
  }

  .advantages__slogan {
    font-size: 40px;
    line-height: 54px;

    &:last-of-type {
      margin-top: 0;
      padding: 0;
      padding-left: 47px;
      padding-right: 47px;
    }
  }

  .advantages__inner-wrapper {
    padding-top: 0;
    background-image: linear-gradient(175deg, $white 85px, $light 85px);
  }

  .advantages__list {
    padding-left: 310px;
    padding-bottom: 42px;
    padding-top: 105px;

    &::before {
      content: "";
      position: absolute;
      left: 134px;
      top: 35px;
      transform: translateX(-50%);
      width: 268px;
      height: 547px;
      background-image: url("../img/tablet-smile.png");
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/tablet-smile@2x.png");
        background-size: 268px auto;
      }
    }
  }

  .advantages__item {
    &:not(:last-child) {
      margin-bottom: 33px;
    }
  }

  .advantages__item-title,
  .advantages__item-description {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 61px;

    .advantages__container {
      margin-bottom: 58px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .advantages__slogan {
    font-size: 50px;
    line-height: 68px;

    &:last-of-type {
      padding: 0;
      padding-left: 130px;
      padding-right: 130px;
    }
  }

  .advantages__inner-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(175deg, $white 99px, $light 99px);

    .advantages__container {
      padding: 0;
      margin-bottom: 0;
    }
  }

  .advantages__list {
    display: flex;
    justify-content: space-evenly;
    padding-top: 359px;
    padding-left: 0;

    &::before {
      display: none;
    }
  }

  .advantages__item {
    width: 248px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:first-child {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 19%;
        transform: translateX(-50%);
        width: 300px;
        height: 301px;
        background-image: url("../img/iphone-desktop-gray.png");
        background-repeat: no-repeat;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/iphone-desktop-gray@2x.png");
          background-size: 300px auto;
        }
      }
    }

    :nth-child(2) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: 301px;
        background-image: url("../img/iphone-desktop-pink.png");
        background-repeat: no-repeat;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/iphone-desktop-pink@2x.png");
          background-size: 300px auto;
        }
      }
    }

    &:last-child {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 81%;
        transform: translateX(-50%);
        width: 300px;
        height: 301px;
        background-image: url("../img/iphone-desktop-smile.png");
        background-repeat: no-repeat;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/iphone-desktop-smile@2x.png");
          background-size: 300px auto;
        }
      }
    }
  }

  .advantages__item-title,
  .advantages__item-description {
    line-height: 30px;
    text-align: center;
  }

  .advantages__item-title {
    margin-bottom: 22px;
    font-size: 30px;
  }

  .advantages__item-description {
    font-size: 18px;
  }
}
