.checkbox {
  position: relative;
  display: block;
  padding-left: 52px;
  cursor: pointer;
}

.checkbox__input {
  appearance: none;
}

.checkbox__label {
  position: absolute;
  padding-top: 2px;
  font-size: 18px;
  line-height: 30px;
  color: $dark;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -59px;
    width: 39px;
    height: 39px;
    background-color: $white;
    border: 2px solid $disabled;
    border-radius: 1px;
  }

  &:hover {
    &::before {
      border: 2px solid $dark;
    }
  }
}

.checkbox__input:focus ~ .checkbox__label {
  &::before {
    border: 2px solid $main;
  }
}

.checkbox__input:checked ~ .checkbox__label {
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -50px;
    width: 22px;
    height: 16px;
    background-image: url("../img/icons/check-mark.svg");
    background-repeat: no-repeat;
  }

  &:focus + &::before,
  &:checked:focus + &::before {
    border: 2px solid $main;
  }

  &:hover + &::before {
    border: 2px solid $dark;
  }

  &:disabled + &::before,
  &:checked:disabled + &::before {
    border: 2px solid $disabled;
    color: $disabled;
  }
}

@media (min-width: $tablet-width) {
  .checkbox {
    padding-left: 50px;
  }
}
