.intro {
  padding-top: 93px;
  padding-bottom: 44px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50%;
  background-color: $dark;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }
}

.intro__container {
  padding: 0;
  padding-left: 34px;
  padding-right: 34px;
}

.intro__title {
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  color: $white;
}

@media (min-width: $tablet-width) {
  .intro {
    padding-top: 177px;
    padding-bottom: 59px;
    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }

    &--catalog {
      padding-bottom: 134px;
    }
  }

  .intro__title {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-top: 179px;
    padding-bottom: 89px;
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }

    &--catalog {
      .intro__container {
        padding-left: 200px;
        padding-right: 200px;
      }
    }
  }

  .intro__container {
    padding-left: 130px;
    padding-right: 130px;
  }
}
