.post__content {
  background: $light;
}

.post__name {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.post__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $dark;
}

.post-text {
  margin: 0;
}


