.price {
  padding-top: 139px;
  padding-bottom: 40px;
  background-color: $disabled;
  background-image: linear-gradient(177deg, $white 54px, $light 42px);
  overflow: hidden;
}

.price__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__table {
  border-spacing: 0;
  width: 280px;
  table-layout: fixed;
}

.price__item {
  border: 1px solid $light;

  &:last-child {
    border-right-width: 2px;
  }

  &:first-child {
    border-left-width: 2px;
  }

  &--title {
    display: none;
    margin-right: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: $dark;
    text-align: left;
  }

  &--cell {
    position: relative;
    padding-top: 14px;
    padding-bottom: 15px;
  }

  &--title,
  &--cell {
    width: 276px;
    background-color: $white;
  }
}

.price__empty {
  display: none;
}

.price__heading {
  padding: 11px 50px 27px;
  width: 276px;
  color: $white;
  background-color: $dark;
  border-left: 1px solid $light;
  border-right: 1px solid $light;
  overflow: hidden;

  &:nth-child(2) {
    border-left: 1px solid $dark;
    border-top-left-radius: 5px;
  }

  &:last-child {
    border-right: 2px solid $dark;
    border-top-right-radius: 5px;
  }

  &--hit {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -1px;
      width: 74px;
      height: 74px;
      background-image: url("../img/hit.svg");
    }
  }
}

.price__tarif {
  display: block;
  margin-bottom: -2px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.price__price {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.price__tr {
  &:first-child {
    .price__item {
      border-top-width: 2px;
      border-top-color: $dark;

      &:first-child {
        border-top-left-radius: 5px;
      }

      &--title {
        border-top-color: $light;
      }
    }
  }

  &:last-child {
    .price__item {
      border-bottom-width: 2px;

      &:first-child {
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-bottom-right-radius: 5px;
      }
    }
  }
}

.price__value {
  &--check::before {
    position: absolute;
    content: "";
    right: 16px;
    bottom: 20px;
    width: 31px;
    height: 21px;
    background-image: url("../img/icons/yes.svg");
    background-repeat: no-repeat;
  }

  &--cross::before {
    position: absolute;
    content: "";
    right: 18px;
    bottom: 17px;
    width: 27px;
    height: 27px;
    background-image: url("../img/icons/no.svg");
  }
}

.price__headline {
  padding-left: 20px;
  text-transform: uppercase;
}

.price__toggles {
  padding-top: 40px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .price {
    padding-top: 113px;
    padding-bottom: 68px;
    background-image: linear-gradient(176deg, $white 60px, $light 60px);
  }

  .price__table {
    width: 620px;
  }

  .price__empty {
    display: table-cell;
  }

  .price__item {
    &--title {
      display: table;
    }

    &--title,
    &--cell {
      width: 153px;
      padding-top: 8px;
      padding-bottom: 7px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .price__heading {
    width: 155px;
    padding: 12px 9px 7px;

    &--hit {
      &::before {
        width: 61px;
        height: 61px;
        background-image: url("../img/icons/tablet-hit.svg");
      }
    }
  }

  .price__value {
    &--check::before {
      bottom: calc(50% - 10px);
      right: calc(50% - 16px);
    }

    &--cross::before {
      bottom: calc(50% - 13px);
      right: calc(50% - 13px);
    }
  }

  .price__headline {
    display: none;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 159px;
    padding-bottom: 97px;
    background-image: none;
  }

  .price__container {
    padding: 0;
  }

  .price__table {
    width: 944px;
  }

  .price__value {
    &--cross::before {
      bottom: calc(50% - 16px);
    }
  }

  .price__heading {
    width: 236px;
    padding: 17px 23px 21px;

    &--hit {
      &::before {
        width: 74px;
        height: 74px;
        background-image: url("../img/icons/hit.svg");
      }
    }
  }

  .price__tarif {
    font-size: 18px;
  }

  .price__price {
    font-size: 24px;
  }

  .price__item {
    &--title,
    &--cell {
      width: 237px;
      padding-top: 14px;
      padding-bottom: 14px;
    }

    &--title {
      padding-left: 22px;
      font-size: 18px;
      line-height: 30px;
    }
  }
}
