html, body {
  margin: 0;
  padding: 0;
 }

html {
  box-sizing: border-box;
 }

 *, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: $basic-color-darkblue;
 }

img {
  max-width: 100%;
  height: auto;
}

