$basic-color-white: #FFFFFF;
$basic-color-light: #F2F2F2;
$basic-color-light-2: #E5E5E5;
$basic-color-light-3: #E9EBEC;
$basic-color-black: #000000;
$basic-color-darkblue: #283645;
$basic-color-darkblue-2: #1D2631;
$basic-color-pink: #D22856;
$basic-color-orange: #F25B26;
$basic-color-green: #2AAB6D;
$basic-color-lightgreen: #3DC644;


