$basic-color-white: #FFFFFF;
$basic-color-black: #000000;
$basic-color-darkblue: #283645;

$color-lightest: #F2F2F2;
$color-lighter: #E5E5E5;
$color-light: #E9EBEC;
$color-darkerblue: #1D2631;
$color-pink: #D22856;
$color-orange: #F25B26;
$color-green: #2AAB6D;
$color-lightgreen: #3DC644;

$basic-font-color: "Open Sans", "Arial", sans-serif;
