$main-font: "Open Sans", "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$main: #d22856; // розовый первый главный
$sub: #2aab6d; // зеленый второй добавочный
$sub-hover: #1c9b5e; // зелный при наведении
$success: #3dc644; // цвет для положительных результатов, галочки
$error: #f25b26; // цвет для негативных результатов, крестики
$disabled: #E5E5E5; // для задизейбленного состояния
$light: #f2f2f2;
$dark: #283645;
$sub-dark: #1d2631;
